<h3>What's up <%= @user.username %>?</h3>

<form action="/sessions" method="POST">
	<input type="hidden" name="_method" value="delete">
	<button>Log Out</button>
</form>

<h1>Benito's TV Forum</h1>

<h2>Shows:</h2>

<ul>
	<% @shows.each do |show| %>
<li>
	<%= show.title %>
	<br/>
	Genre: <%= show.genre_id %>
	<br/>
	Rating: <%= show.rating %>
	<br/>
	Info: <%= show.info %>	
</li>
	<% end %>
</ul>


