<div id="left-half">
	<h1>Benito's TV Forum</h1>

	<img id="start_img" src="/tv.png" style="height:150px;width:150px;">

	<h3>What's up <%= @user.username %>?</h3>
	<img class="user-img" src="<%= @user.avatar_img %>">

	<form action="/sessions" method="POST">
		<input type="hidden" name="_method" value="delete">
		<button>Log Out</button>
	</form>

	<button>
	<a id="newshow" href="/new_show">Add a New Show</a>
	</button>
</div>

<div id="right-half">
	<h1>Shows:</h1>

	<ul>
		<% @shows.each do |show| %>
		<li>
		<img class= "show-img" src="<%= show["show_img_url"] %>">
		<a id="show-name" href="/shows/<%= show["id"] %>">
			<%= show.title %> <a id="num-of-comments">Comments:<%= show.comments.count(:all) %></a>
			
		</li>
			<% end %>
	</ul>
	</a>
</div>


