<div class="left-stuff">
<h1 id="title"><%= @dis_show.title %></h1>

<img class="show-page-img" src="<%= @dis_show.show_img_url %>">

<img id="show-img" src="/tv.png">

<a href="/home">
<button>Home</button>

</a>

<p id="info">Info: <%= @dis_show.info %></p>

</div>

<div id="rating">
Average User Rating: <%= @avg %>


<form action="/shows/<%= @dis_show.id %>/ratings" method="POST">
	<input type="text" name="rating" placeholder="Give a rating 1 - 10">
	<button>Submit Rating</button>
</form>

</div>


<div id="links">
	<form action="/shows/<%= @dis_show.id %>/links" method="POST">
		Link: <input type="text" name="link" placeholder="paste link here:">
		Requires Subscription?<input type="text" name="subscription" placeholder="Enter 'true' or 'false'">
		<button>Submit Link</button>
	</form>



	<% @dis_show.links.each do |link| %>

	<p class="inner">
	Submitted By: <%= link.user.username %>
	<br/>
	Link: <%= link.link %>
	<br/>
	Requires subscription: <%= link.subscription %>
	</p>

	<% end %>
</div>


<div class="comments"> 
<h3>Comments:</h3>
<form action="/shows/<%= @dis_show.id %>/comments" method="POST">
	<input type="text" name="comment" placeholder="write your comment">
	<button>Submit Comment</button>

</form>

	<% @dis_show.comments.each do |comment| %>

	<p class="inner">
	User: <%= comment.user.username %>
	<br/>
	Comment: <%= comment.comment %>
	</p>

	<% end %>
</div>








