<h1><%= @dis_show.title %></h1>

<p>Genre: <%= @dis_show.genre %></p>
<p>Average User Rating: <%= @dis_show.rating %></p>
<p>Info: <%= @dis_show.info %></p>

<form action="/shows/<%= @dis_show.id %>/comments" method="POST">
	<input type="text" name="comment" placeholder="write your comment">
	<button>Submit Comment</button>

</form>

<div> 
<% @dis_show.comments.each do |comment| %>

<p>User: <%= comment.user.username %></p>

<p>Comment: <%= comment.comment %></p>

<% end %>
</div>

<form action="/shows/<%= @dis_show.id %>/links" method="POST">
	<input type="text" name="link" placeholder="paste link here:">
	<input type="text" name="subscription" placeholder="requires subscription?">
	<button>Submit Link</button>
</form>


<div>
<% @dis_show.links.each do |link| %>

<p>Who gave us this beauty: <%= link.user.username %></p>
<p>Link: <%= link.link %></p>
<p>Does this link require a subscription? <%= link.subscription %></p>

<% end %>
</div>





